body {
	font-family: Arial;
	background-color: #fbfbfb;
	padding-top: 60px;
	margin-bottom: 3000px;
}

p {
	margin: 0px;
}

button:hover {
	opacity: 0.8;
	transition: opacity 0.1s;
}

button {
	transition: opacity 0.1s;
	cursor: pointer;
}

button:active {
	opacity: 1;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	border-bottom: 1px solid #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
	background-color: white;
	z-index: 100;

}

.middle-div {
	display: flex;
	width: 500px;
	justify-content: space-between;
	font-weight: bold;
}

.left-div {
	color: orange;
	font-weight: bold;
	font-size: 20px;
	padding-left: 20px;
}

.book-button,
.services-button {
	padding: 8px 15px;
	background-color: orange;
	border: none;
	border-radius: 5px;
}

.title-div {
	display: flex;
	flex-direction: column;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 130px;
}

.headline {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 20px;
}

.orange-text {
	color: orange;
}

.caption {
	font-size: 20px;
	margin-bottom: 30px;
	opacity: 0.5;
}

.buttons-div button {
	padding: 8px 15px;
	font-size: 20px;
	margin: 0px 15px;
}

.services-button {
	background-color: white;
	border: 1px solid rgb(231, 231, 231);
}